@use './variables.scss' as *;

header{
    max-width: $maxWidth;
    margin: 0 auto;
    nav{
        display:flex;
        align-items: center;
        justify-content: space-between;
        gap:10px;
        padding: 1rem 1.5rem;
        height: 56px;
        top:0;
        width: 100%;
        position: fixed;
        z-index: 11;
        background-color: $backgroundColor;
        .logoContainer{
            
            
            img{
                width: 90px;
                object-fit: cover;

            }
        }

        .headerSideContainer{
            display: flex;
            align-items: center;
            gap: 1rem;

            p{
                font-size: 16px;
                cursor: pointer;
                color: $primary;
                font-weight: 500;
            }

            .iconsContainer{
                display: flex;
                align-items: center;
                gap: 10px;


                svg{
                    font-size: 1.2rem;
                }
                .hamburger{
                    font-size: 2rem;
                }
            }
        }
    }
}


//Media Query for laptop

@media screen and (min-width: 1023px) {

    header {
    
            nav {
                position: unset;
                
                .logoContainer {
                    padding-top: 1rem;
                    img {
                        width: 120px;
                        object-fit: cover;
    
                    }
                }
    
                .headerSideContainer {
                    .iconsContainer {
                        display: none;
                    }
                }
            }
        }
    
}