@use './styles/variables.scss' as *; 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}


body{
    background-color: $backgroundColor;
    color: $textColor;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}